<a href="https://colab.research.google.com/github/minun001/Data-analysis/blob/main/Homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

빅데이터공학과_20211464_민현식

1.참고로 판다스 홈페이지에서  https://pandas.pydata.org/docs/user_guide/missing_data.html?highlight=regular%20express 를 보면 결측치를 제거하는 방법에 자세한 설명과 정규 표현식(Regular expression)관련되어서 설명을 하고 있습니다. 영어로 되어 있지만 과제를 하기 전후에 한번 읽어 보시기 바랍니다.
2.각 문제는 10점이 만점입니다.

문제 1. 다음 주어진 코드를 실행해서 나타난 데이터프레임에서의 주대각성분을 모두 0 으로 바꾸세요

In [ ]:
# 문제1 답.
import pandas as pd
import numpy as np

data = pd.DataFrame(np.random.randint(1,10, 100).reshape(10, -1))
data1 = np.diag(np.diag(data))
data2 = data - data1
data2

   0  1  2  3  4  5  6  7  8  9
0  0  6  5  1  1  7  3  5  3  8
1  1  0  1  7  1  1  9  2  3  5
2  5  4  0  7  2  9  2  4  8  3
3  8  1  2  0  2  2  6  2  5  2
4  7  6  9  2  0  5  5  7  3  2
5  7  7  1  9  5  0  8  9  2  8
6  8  7  1  2  7  6  0  7  8  9
7  6  9  6  7  3  6  9  0  6  2
8  1  9  2  6  5  4  2  9  0  4
9  7  7  9  5  9  7  3  1  4  0

문제2. 다음 주어진 코드를 보고 문제에 답하세요

1. a와 d 열을 서로 바꾸어서 출력하세요
2. 열 이름을 하드코딩(hard coding) 하지 않고 일반 함수(예; swap(a,e)는 a과 e열을 서로 교환)를 만들어 입력된 두 열을 교환할 수 있도록 구현하세요.
3. 열을 알파벳 역순으로 정렬합니다. 즉, 'f' 열이 처음부터 'a' 열이 마지막입니다

In [ ]:
df = pd.DataFrame(np.arange(36).reshape(-1,6), columns=list('abcdef'))
df

    a   b   c   d   e   f
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [ ]:
# 문제2_1 답.
df = pd.DataFrame(np.arange(36).reshape(-1,6), columns=list('abcdef'))
df1 = df = df.reindex(['d','b','c','a','e','f'], axis = 1)
df1

    d   b   c   a   e   f
0   3   1   2   0   4   5
1   9   7   8   6  10  11
2  15  13  14  12  16  17
3  21  19  20  18  22  23
4  27  25  26  24  28  29
5  33  31  32  30  34  35

In [ ]:
# 문제2_2 답.

문제 3. 유클리드 거리는 데이터 간의 유사도를 표현하는데 사용합니다. 거리가 가까울 수록 데이터 간의 유사성이 높다고 판단을 하고 해당 계산은 피타코라스 정리의 식인 $\sqrt{x^2+y^2}$를 사용합니다. 즉 두 점 p $(p_1, p_2, ..., p_n)$와 q$ (q_1, q_2, ..., q_n)$ 가 있을때 두점의 거리는 $\sqrt{(q_1 - p_1)^2 + (q_2 - p_2)^2 + ... + (q_n - p_n)^2} = \sqrt{\displaystyle\sum_{i=1}^{n}(q_i - p_i)^2}$로 계산합니다.

다음 주어진 코드에 두 열을 추가해서 나타난 결과처럼 각 행과 가장 가까운 거리의 행을 index 번호로 표시하고 해당 행과의 거리를 나타내도록 코드를 완성하세요.

In [ ]:
index_l=[1,2,3,4,5,6,7,8,9,10]
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=index_l)
#코드 구현 부분
df

원하는 결과

     p   q   r   s  nearest_row  dist
1   82  30  23  49            2   101
2    5  18  84  70            8   132
3   94  91  24  60            2   130
4   65  29  78  33            8   105
5   14  19  24  34            8   128
6   96  67  14  70            2   125
7   39  85  91  27            8   109
8   99  91  32  96            2   132
9   57  77  64  78            5    94
10  91  90  54  60            2   117

문제 4. 한 DataFrame의 null 값을 다른 DataFrame의 null이 아닌 값으로 채워서 두 DataFrame 개체를 결합하여 하나로 나타내는 프로그램을 작성하세요.

In [ ]:
df1 = pd.DataFrame({'A': [None, 0, None,4], 'B': [3, 4, 5,6]})
df2 = pd.DataFrame({'A': [1, 1, 1, 3], 'B': [1,2, None, 3]})

print("Original DataFrames:")
print(df1)
print("---------------")
print(df2)
print("---------------")

Original DataFrames:
     A  B
0  NaN  3
1  0.0  4
2  NaN  5
3  4.0  6
---------------
   A    B
0  1  1.0
1  1  2.0
2  1  NaN
3  3  3.0
---------------

문제 5. 당신이 강의에서나 교재 중에서 가장 잘 설명되었으면 하는 한가지는 무엇입니까? 한 두 줄로 요약해서 답변해주면 감사하겠습니다.아니면 공부에 도움을 받고 싶은 내용이 있으면 자유롭게 쓰세요. (때때로 우리는 개념을 잘못 표현하여 사람들을 혼란스럽게 합니다. 때때로 우리는 사람들이 듣고 싶어하는 것들을 생략합니다. 때때로 책은 어떤 면에서 매우 혼란스럽습니다. 본인에게 그런 내용이 무엇이었는지 말할 기회입니다. 피드백을 환영합니다.)